<mat-toolbar color="primary" style="height: 7vh;">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Insurance Management Assignment Project</span>
  <span class="spacer"></span>
  {{name}}
  <button mat-icon-button class="example-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" style="width: 12vw;">
    <mat-nav-list>
      <a mat-list-item routerLink="PurchasePolicy" routerLinkActive="active">
        <button (click)='sidenav.close()' mat-icon-button class="navButton">
          <mat-icon class="matIconStyle">home</mat-icon>&nbsp;&nbsp;My Policies
        </button>
      </a>
      <a mat-list-item routerLink="Vehicle" routerLinkActive="active">
        <button (click)='sidenav.close()' mat-icon-button class="navButton">
          <mat-icon class="matIconStyle">analytics</mat-icon>&nbsp;&nbsp;My Vehicles
        </button>
      </a>
      <a mat-list-item routerLink="my-claims" routerLinkActive="active">
        <button (click)='sidenav.close()' mat-icon-button class="navButton">
          <mat-icon class="matIconStyle">card_membership</mat-icon>&nbsp;&nbsp;My Claims
        </button>
      </a>
      <a mat-list-item routerLink="employee" routerLinkActive="active">
        <button (click)='sidenav.close()' mat-icon-button class="navButton">
          <mat-icon class="matIconStyle">settings</mat-icon>&nbsp;&nbsp;Employees
        </button>
      </a>
      <a mat-list-item routerLink="policy" routerLinkActive="active">
        <button (click)='sidenav.close()' mat-icon-button class="navButton">
          <mat-icon class="matIconStyle">manage_accounts</mat-icon>&nbsp;&nbsp;Browse Policies
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 93vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
