################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsuranceManagementAPI/.vs
/InsuranceManagementAPI/InsuranceManagementAPI/bin
/InsuranceManagementAPI/InsuranceManagementAPI/obj
