<h2 mat-dialog-title>Approve Claim</h2>
<div mat-dialog-content>
  <form [formGroup]="approveClaimForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Claim ID</mat-label>
      <input readonly formControlName="claimID" matInput required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Approved By</mat-label>
      <input readonly formControlName="approvedBy" matInput required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Claim Amount</mat-label>
      <input readonly formControlName="claimAmount" matInput required />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Approved Amount</mat-label>
      <input
        formControlName="approvedAmount"
        matInput
        placeholder="Enter Approved Amount"
        required
      />
      <mat-error *ngIf="!approveClaimForm.controls['approvedAmount'].valid">
        Approved Amount is required
      </mat-error>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="approveClaim()">
    Approve
  </button>
</mat-dialog-actions>
