<mat-card style="background-color: #FAFAFA;">
  <mat-card-content>
      <div class="header">
          <h2><b style="color: #006EC7;">Insurance Management Assignment Project</b></h2>
          <mat-divider></mat-divider>
          <br>
          <div class="banner-image"></div>
      </div>
      <form (ngSubmit)="forgotPassword()" name="forgotPasswordForm" [formGroup]="forgotPasswordForm">
          <div class="emailIdInput">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input formControlName="emailId" matInput placeholder="Enter Email Address" [(ngModel)]="emailId"
                      required />
                  <mat-error *ngIf="!forgotPasswordForm.controls['emailId'].valid">
                      Email Address is invalid
                  </mat-error>
              </mat-form-field>
          </div>
          <button mat-flat-button color="primary" style="width: 90%;">Retrieve Password</button>
          <br>
      </form>
  </mat-card-content>
</mat-card>
