mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  max-height: 800px;
}

.banner-image {
  width: 250px;
  height: 60px;
  background-image: url('http://portal.etn.com/intranet/images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.header {
  text-align: center;
}

.full-width {
  width: 90%;
}

.userNameInput {
  padding-top: 10px;
}
