<div class="action-button-container" align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="addClaim()"
    class="action-button"
    *ngIf="!isEmployee"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="getMyClaims()"
    class="action-button"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-form-field class="full-width">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Vehicle Chesis No"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="ClaimID">
      <th mat-header-cell *matHeaderCellDef>Claim ID</th>
      <td mat-cell *matCellDef="let element">{{ element.claimID }}</td>
    </ng-container>

    <ng-container matColumnDef="CustomerPolicyID">
      <th mat-header-cell *matHeaderCellDef>Customer Policy ID</th>
      <td mat-cell *matCellDef="let element">{{ element.customerPolicyID }}</td>
    </ng-container>

    <ng-container matColumnDef="ClaimType">
      <th mat-header-cell *matHeaderCellDef>Claim Type</th>
      <td mat-cell *matCellDef="let element">{{ element.claimType }}</td>
    </ng-container>

    <ng-container matColumnDef="ClaimAmount">
      <th mat-header-cell *matHeaderCellDef>Claim Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.claimAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="SettlementStatus">
      <th mat-header-cell *matHeaderCellDef>Settlement Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.settlementStatus ? "Settled" : "In Progress" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ApprovedBy">
      <th mat-header-cell *matHeaderCellDef>Approved By</th>
      <td mat-cell *matCellDef="let element">{{ element.approvedBy }}</td>
    </ng-container>

    <ng-container matColumnDef="ApprovedAmount">
      <th mat-header-cell *matHeaderCellDef>Approved Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.approvedAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="ClaimIntimationDate">
      <th mat-header-cell *matHeaderCellDef>Intimation Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.claimIntimationDate | date : "MM/dd/y" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Approve">
      <th mat-header-cell *matHeaderCellDef>Approve</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="approve(element)"
          *ngIf="!element.settlementStatus"
        >
          <mat-icon>done</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Documents">
      <th mat-header-cell *matHeaderCellDef>Documents</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="fileInput.click()"
          matTooltip="Upload Document"
          *ngIf="!element.settlementStatus"
        >
          <mat-icon>upload_file</mat-icon>
        </button>
        <input
          hidden
          (change)="getFile($event, element.claimID)"
          #fileInput
          type="file"
          id="file"
        />
        <button
          mat-icon-button
          color="primary"
          (click)="downloadFile(element)"
          matTooltip="Download Document"
          *ngIf="element.documentName"
        >
          <mat-icon>file_download</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          <mat-icon *ngIf="expandedElement !== element"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="expandedElement === element"
            >keyboard_arrow_up</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div id="outer-div">
            <div class="row">
              <div class="columnLeft">
                <label>Damage Details : </label>
              </div>
              <div class="columnRight">
                <label> {{ element.damageDetails }}</label>
              </div>
            </div>
            <div class="row">
              <div class="columnLeft">
                <label>IFSC Code : </label>
              </div>
              <div class="columnRight">
                <label> {{ element.ifscCode }}</label>
              </div>
            </div>
            <div class="row">
              <div class="columnLeft">
                <label>Account No : </label>
              </div>
              <div class="columnRight">
                <label> {{ element.accountNo }}</label>
              </div>
            </div>
            <div class="row">
              <div class="columnLeft">
                <label>Account Holder Name : </label>
              </div>
              <div class="columnRight">
                <label> {{ element.accountHolderName }}</label>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of vehicles"
  ></mat-paginator>
</div>
