table {
  width: 100%;
}

th {
  font-size: medium;
  font-weight: bold;
  color: black;
}

.full-width {
  width: 99%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.action-button-container {
  padding-top: 16px;
  padding-bottom: 16px;
  width: auto;
}

.action-button {
  margin-right: 16px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

#outer-div {
  width: 100%;
  text-align: center;
}

#inner-div {
  margin: 0 auto;
  padding: 3px;
}

.row {
  display: flex;
}

.columnLeft {
  flex: 50%;
  padding: 5px;
  text-align: right;
  font-weight: bold;
}

.columnRight {
  flex: 50%;
  padding: 5px;
  text-align: left;
}
